body {background-color: #ecfbfc;}
hr {background-color: #ecfbfc; border-color: #ffebd9; height: 0em; width: 10%; border-style: dotted none none; border-width: 1em;}
h1 {color: #235952;font-family: sans-serif;}
h2 {color: #66bfbf;}
h3 {color: #235952;}
